.stopWatch {
  width: 250px;
  height: auto;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  .stopWatch__time {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin: 0;
  }
  button {
    height: 30px;
    margin-top: 10px;
    width: 80%;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
